<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="appURL" value="http://DFARMR-IVR1.cloud.ccs.centurylink.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!--<add key="WebServiceURL" value="http://milkservicestest.dfamilk.com/webapp/milkws/services/" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
    <add key="WebServiceURL" value="http://milkservices.dfamilk.com/webapp/milkws/services/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="NewWebServiceURL" value="http://208.82.108.110:8000/sap/bc/soap/rfc" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataCollector" />
      </basicHttpBinding>
      <customBinding>
        <binding name="NoKeepAlive" sendTimeout="00:10:00">
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport maxReceivedMessageSize="15728640" authenticationScheme="Basic"
            keepAliveEnabled="false" transferMode="Buffered" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://208.82.108.110:8000/sap/bc/soap/rfc" binding="customBinding" bindingConfiguration="NoKeepAlive" contract="GetQueryViewData.RRW3_GET_QUERY_VIEW_DATAPortType" name="RRW3_GET_QUERY_VIEW_DATAPortType" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <endpoint address="http://208.82.108.110:8000/sap/bc/soap/rfc" binding="customBinding" bindingConfiguration="NoKeepAlive" contract="GetDivPayeeDetails.Z_WS_GET_DIV_PAYEE_DETAILSPortType" name="Z_WS_GET_DIV_PAYEE_DETAILSPortType" xdt:Transform="Replace" xdt:Locator="Match(name)"></endpoint>
      <endpoint address="http://hivrdatacollector.dev.ccs.centurylink.net/DataCollector.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataCollector" contract="ERM.IDataCollector" name="BasicHttpBinding_IDataCollector" xdt:Transform="Replace" xdt:Locator="Match(name)" >
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="csEntLogging" connectionString="server=BURCCSDS03D\CLD201201D;database=Logging;connection timeout=30;Integrated Security=SSPI;User ID=qqwccdev\MLTDEV-IVR;Password=TIrV82me" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <sessionState mode="SQLServer" xdt:Transform="Replace" xdt:Locator="Match(mode)" sqlConnectionString="data source=BURCCSDS03D\CLD201201D;Integrated Security=SSPI;User ID=qqwccdev\MLTDEV-IVR;Password=TIrV82me" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20"/>
  </system.web>
  <applicationSettings>
    <DFARMR_IVR1.Properties.Settings>
      <setting name="DFARMR_IVR1_NewDoesDivisionExist_WebReference_Z_WS_DOES_DIVISION_EXISTService"
        serializeAs="String" xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">http://208.82.108.110:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="DFARMR_IVR1_NewDoesPasswordExist_WebReference_Z_WS_DOES_PASSWORD_EXISTService"
        serializeAs="String" xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">http://208.82.108.110:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="DFARMR_IVR1_NewDoesProducerExist_WebReference_Z_WS_DOES_PRODUCER_EXISTService"
        serializeAs="String" xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">http://208.82.108.110:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="DFARMR_IVR1_NewGetTestResults_WebReference_Z_WS_GET_TEST_RESULTSService"
        serializeAs="String" xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">http://208.82.108.110:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="DFARMR_IVR1_GET_DIV_PAYEE_DETAILS_Z_WS_GET_DIV_PAYEE_DETAILSService"
        serializeAs="String" xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">http://208.82.108.110:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="DFARMR_IVR1_DOES_PASSWORD_EXIST_Z_WS_DOES_PASSWORD_EXIST_MSAService"
        serializeAs="String" xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">http://208.82.108.110:8000/sap/bc/soap/rfc</value>
      </setting>
      <setting name="DFARMR_IVR1_GET_QUERY_VIEW_DATA_RRW3_GET_QUERY_VIEW_DATAService"
        serializeAs="String" xdt:Locator="Match(name)" >
        <value xdt:Transform="Replace">http://208.82.108.110:8000/sap/bc/soap/rfc</value>
      </setting>
    </DFARMR_IVR1.Properties.Settings>
  </applicationSettings>
</configuration>